<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="turtlebot3_lime_lidar_gazebo"
    params="prefix">
    <gazebo reference="${prefix}base_scan">
      <material>Gazebo/FlatBlack</material>
      <sensor name="lidar" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <always_on>true</always_on>
        <update_rate>10.0</update_rate>
        <visualize>true</visualize>
        <topic>scan</topic>
        <lidar>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>0.0</min_angle>
              <max_angle>6.283185307179586</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.3</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>